body{

margin:0;

font-family:Poppins,sans-serif;

overflow:hidden;

background:url("assets/background.svg");

background-size:cover;

display:flex;

justify-content:center;

align-items:center;

height:100vh;

}

.background{

position:absolute;

width:100%;

height:100%;

backdrop-filter:blur(2px);

}

.hearts{

position:absolute;

width:100%;

height:100%;

overflow:hidden;

}

.heart{

position:absolute;

color:white;

font-size:25px;

animation:floatUp linear infinite;

}

@keyframes floatUp{

0%{

transform:translateY(110vh);

opacity:0;

}

20%{

opacity:1;

}

100%{

transform:translateY(-120px);

opacity:0;

}

}

#envelope{

position:relative;

width:360px;

text-align:center;

transition:1s;

z-index:5;

}

.envelopeSVG{

width:100%;

filter:drop-shadow(0 10px 20px rgba(0,0,0,.4));

}

.letter{

position:absolute;

top:70px;

left:35px;

width:290px;

background:white;

padding:20px;

border-radius:15px;

box-shadow:0 8px 25px rgba(0,0,0,.25);

}

.letter h1{

font-family:Great Vibes,cursive;

font-size:42px;

color:#ff2d55;

}

.letter p{

line-height:1.8;

}

button{

padding:14px 25px;

border:none;

border-radius:30px;

background:#ff2d55;

color:white;

font-size:16px;

cursor:pointer;

margin-top:15px;

transition:.3s;

}

button:hover{

transform:scale(1.08);

}

#loveMessage{

position:absolute;

width:90%;

max-width:700px;

text-align:center;

opacity:0;

transform:scale(.8);

transition:1s;

color:white;

}

#loveMessage.show{

opacity:1;

transform:scale(1);

}

.couple{

width:260px;

margin-bottom:20px;

animation:float 4s ease-in-out infinite;

}

@keyframes float{

50%{

transform:translateY(-10px);

}

}

h2{

font-family:Great Vibes,cursive;

font-size:60px;

margin-bottom:15px;

}

h3{

font-family:Great Vibes,cursive;

font-size:40px;

margin-top:30px;

color:#fff6c7;

}

@media(max-width:600px){

#envelope{

width:300px;

}

.letter{

width:240px;

left:30px;

top:58px;

}

.couple{

width:180px;

}

h2{

font-size:42px;

}

}